html, body {
    height: 100%;
    margin: 0px;
}
h2{
    font-family: Verdana, Arial, Helvetica, Courier, monospace;
}
table { 
    width: 60%;
    margin: 1em auto;
    text-align: left;
   }
td { 
    width: 100%;
    min-height: 5em;
    padding: 1em;
   }

.task_table_td{
    border-bottom: 1px solid #d3d3d3; 
}

.task_main_div{
    width: 100%;
    height: 100%;
    position: relative;
    min-height: 1em;
    cursor: text;
}   

.task_text_div{
    float: left;
    width: 90%;
    height: 100%;
    display: block;
}

.task_editing_form_div{
    width: 90%;
    height: 100%;
    float: left;
    display: none;
}

.task_element_div{
    width: 2em;
    float: left;
}

.task_delate_button{
    width: 1em;
    height: 1em;
    cursor: pointer;
    float: right;
    /* background-image: url('../images/icon_x_mark.svg'); */
    background-position: center;
    background-repeat: no-repeat; 
    background-size:100% 100%;
}

.input_fild{
    width: 100%;
    height: 100%;
    border: none;
    color: black;
    font: 1em serif;
    margin-top: -1em;
    margin-left: -0.05em;
    padding-bottom: 0.2em;
    border-bottom: 1px solid #949494; 
    word-break: break-word;
}

#tasks{
    width: 80%;
    float: right;
}
