
.tasksTable { 
    width: 60%;
    margin: 1em auto;
    text-align: left;
    border-collapse:separate; 
    border-spacing: 0 1em;
   }
td { 
    width: 100%;
    vertical-align: top;
    min-height: 5em;
    border-radius: 8px;
    padding: 1em;
    border: 1px solid #acacac; 
   }

.taskDiv{
    width: 100%;
    height: 100%;
    position: relative;
    min-height: 5em;
}   

.taskTextDiv{
    width: 100%;
    height: 100%;
}

.inputTaskDiv{
    width: 100%;
    display: none;
}

.taskControlBox{
    top: -2em;
    right: -2em;
    text-align: center;
    position: absolute;
    visibility: hidden;
}

.taskControlButton{
    width: 2em;
    height: 2em;
    margin-left: 5px; 
    display: inline-block;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat; 
    background-size:100% 100%;
}

.editButton{
    width: 2em;
    height: 2em;
    margin-top: 1em; 
    margin-left: 5px; 
    display: inline-block;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat; 
    background-size:100% 100%;
}

.inputFildTask{
    width: 100%;
    resize: vertical;
    /* height: 0%; */
}
